@tailwind base;
@tailwind components;
@tailwind utilities;
.custom-placeholder::placeholder {
    color: #000; /* Your custom color */
    
  }



  

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.animate-shimmer {
  background-size: 200% 100%;
  animation: shimmer 1.4s infinite linear;
}

  body{
    /* background:#737373; */
    background:#000000;
    /* color: #6d685d; */
    /* overflow-x: hidden; */
    /* color: #a1a964; */
  }

  .scrollbar-hide {
    /* Hide scrollbar for WebKit browsers (Chrome, Safari) */
    &::-webkit-scrollbar {
      display: none;
    }
    /* Hide scrollbar for IE and Edge */
    -ms-overflow-style: none; /* IE and Edge */
    /* Hide scrollbar for Firefox */
    scrollbar-width: none; /* Firefox */
  }


  